@charset "utf-8";
/* CSS Document */

BODY
{
	font-family: "Times New Roman", serif ;
   /* FONT-FAMILY: Verdana,"BitStream vera Sans",Tahoma,Helvetica,Sans-serif;*/
    COLOR: #555;
    FONT-SIZE: 11px;
	margin:0px;
	padding:0px;
	background-color:#c4c4c4;
}

#wrap
{
    PADDING-BOTTOM: 0px;
    PADDING-LEFT: 0px;
    PADDING-RIGHT: 0px;
    PADDING-TOP: 0px;
}

#container
{
    MARGIN: auto;
   	WIDTH: 640px;
	height:480px;
	BACKGROUND: #404040;/*#282828;*/
	border:2px ridge #C90;
	position:relative;
}

.northsidebar {
	width:100%;
	float: left;
	height:80px;
	position:realtive;
	background:#eee;
}


#eastsidebar
{
	height:400px;
	width:80px;
   /* LINE-HEIGHT: 145%;*/
    FLOAT: left;
    OVERFLOW: hidden;
    position:relative;
	margin:0px;
	display:block;
}

#eastContainer{
	margin: 0px;
	width: 78px;
	float:left;
	height:280px;/*100%;*/
	position: relative;
}


#maincenter
{
	width:556px;
	height: 400px;
    /*BACKGROUND: url(img/main_shadow.gif) #fff repeat-x 50% top;*/
    FLOAT: left;
    OVERFLOW: hidden;
	margin:0px;
	display:block;
	BACKGROUND: #fff;
	position:relative;
}



h1 {
	FONT-SIZE: 18px;
}

h2 {
	FONT-SIZE: 15px;
}

h3 {
	padding:0px;
	FONT-SIZE: 11px;
	text-align:left;
	margin:0px;
}


