@charset "utf-8";
/* CSS Document */


#menuBar {
	width: 100%;
	/*  LINE-HEIGHT: 145%;*/
	FLOAT: left;
	OVERFLOW: hidden;
	margin: 0px;
	display: inline;
	position:absolute;
	top:360px;
	left:0px;
	
}

#subMenu {
	height: 40px;
	width: 450px;
	float: left;
	OVERFLOW: hidden;
	position:relative;
	
}

#fastSubMenu {
	height: 40px;
	width: 430px;
	position: relative;
	overflow: hidden;
	float: left;
	margin-left:auto;
	margin-right:auto;
}

.subMenuDiv{
	height: 40px;
	width: 430px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(images/MenuBcg.png);
	background-repeat:repeat-x;
}

#mainChoiceText {
	color: #fff;
	font-size: 10px;
	float: left;
}

#menuOnOffBut {
	float: left;
	margin-right: 5px;
	background: url(images/MenuShow.png);
	width: 60px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}

#slidingMenu {
	height: 40px;
	width: 800px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
}

#subMenuLeft {
	float: left;
	height: 40px;
	width: 28px;
	background: url(images/leftSubMenu.png);
	margin-right: 9px;
}

#subMenuRight {
	float: left;
	height: 40px;
	width: 28px;
	background: url(images/rightSubMenu.png);
	margin-left: 9px;
}

.menuItem {
	height: 40px;
	width: 80px;
	background: url(images/menuItemBackround.png);
	float: left;
	margin-left: 5px;
	color: #fff;
}

.menuItem .text1 {
	height: 20px;
	text-align: center;
	line-height: 20px;
}

.menuItem .text2 {
	height: 20px;
	text-align: center;
	line-height: 20px;
}
/************ VERTICAL ***************/
/*#westMenu {
	width: 80px;
	height: 400px;
	position: relative;
	overflow: hidden;
}*/

#vertMenuSliding {
	width: 70px;
	height: 1200px;
	position: absolute;
	overflow: hidden;
	top: 0px;
	right: 4px;
	display: block;
}
.vertMenuSlidingBlock{
	width: 100%;
	height: 400px; /*45*7*/
	overflow: hidden;
	display: block;
}

#westMenuTopButt {
	height: 40px;
	width: 70px;
	background: url(images/up.png);
}

#westMenuDownButt {
	height: 40px;
	width: 70px;
	background: url(images/down.png);
}

.verMenuItem {
	height: 40px;
	width: 70px;
	background: url(images/VerMenuItemBackround.png);
	margin-top: 5px;
	color: #fff;
}

.verMenuItem .verTextDiv {
	height: 40px;
	text-align: center;
	line-height: 40px;
}