@CHARSET "UTF-8";

.buttDiv{
	float:left;
	/*background: url(images/chBox_30_sel.png);*/
	}

#boatDiv{
	/*width:140px;  height:51px; top:29px;*/	
	width:98px;
	height:42px;
	top:38px;
	background: url(images/Boat.png);
	position:absolute;
	right:0px; /*7+18 or 27+18 or 35+18 or 55+18*/	
}
#logoDiv{
	width:100px;
	background: url(images/logo.png);
	position:absolute;
	top:0px;
	right:0px;
	height:29px;
	}
#boatFreq{
	margin-right:5px;
	text-align:right;
	position:absolute;
	right:0px;
	top:0px;
	width:105px;
	height:10px;
	}
	
#boatTransPos{
	margin-right:5px;
	text-align:right;
	position:absolute;
	right:0px;
	top:12px;
	width:105px;
	height:10px;
	}
	
	#boatBigDiv{
	background: url(images/boatBig.png);
	width:200px;
	height:350px;
	position:absolute;
	right:125px;
	top:12px;
	font-size:16px;
	color:#000;
	}
	#trans_F{
	width:30px;
	height:30px;
	position:absolute;
	left:85px;
	top:37px;
	}
	#trans_P{
	width:30px;
	height:30px;
	position:absolute;
	left:30px;
	top:175px;
	}
	#trans_S{
	width:30px;
	height:30px;
	position:absolute;
	right:30px;
	top:175px;
	}
	#trans_A{
	width:30px;
	height:30px;
	position:absolute;
	left:85px;
	top:280px;
	}
	#transTxt_F{
	position:absolute;
	left:85px;
	top:67px;
	}
	#transTxt_P{
	position:absolute;
	left:30px;
	top:155px;
	}
	
	#transTxt_A{
	position:absolute;
	left:85px;
	top:310px;
	}
	
	
	#transTxt_S{
	position:absolute;
	right:30px;
	top:155px;
	}
	
	#transButtDiv{
	width:100%;
	height:40px;
	background:#666;
	position:absolute;
	left:0px;
	top:320px;
	color:#000;
	text-align:center;
	}
	
#eastAlarmContainer{
	BACKGROUND: #505050;
	background-image: url(images/alarmBack.png);
	width: 26px;
	float:left;
	height:400px;/*100%;*/
	position: relative;
	}
	
#depthRight{
	position:absolute;
	left:0px;
	color:#fff;
	/*font-weight: bold;*/
	font-size:14px;
	width:100%;
	text-align:right;
}

#eastRange_Light{
	margin-left:34px;
	width: 48px;
	height:120px;
	position:absolute;
	right:5px;
	bottom: 260px;/*test, riktig: 0px_*/
	display: block;
}

#eastContainer{
	margin-top: 150px;/*test, skal vare 0px;*/
	width: 78px;
	float:left;
	height:280px;/*100%;*/
	position: absolute;
	right:0px;
}


#eastRangeButton {
	float: left;
	background: url(images/rangeIcon2.png);
	width: 48px;
	height: 48px;
	text-align: center;
	margin-bottom:20px;
}

#eastLightButton {
	float: left;
	background: url(images/contrast_48.png);
	width: 48px;
	height: 48px;
	text-align: center;
	margin-bottom:10px;
}

#timeScale
{
	font-size:16px;
	height: 18px;
    FLOAT: right;
    OVERFLOW: hidden;
	margin:0px;
	display:block;
	/*BACKGROUND: #383838;*/
	text-align:right;
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
}
#distanceScale
{
	font-size:16px;
	height: 18px;
    FLOAT: right;
    OVERFLOW: hidden;
	margin:0px;
	display:block;
	/*BACKGROUND: #383838;*/
	text-align:right;
	position:absolute;
	top:18px;
	left:0px;
	width:100%;
}

#rangeScale   
{
	width:15px;
	height: 400px;
	display:block;
	color:#fff;
	font-size:16px;
	position:absolute;
	top:0px;
	right:0px;
	/*background: url(images/rangeBackg1.png);*/
}


.rangeScaleSeg   
{
	width:8px;
	height: 3px;
	position:absolute;
	top:0px;
	right:0px;
	background: url(images/rangeOneLine.png);
}

#rangeScaleTextDiv  
{
	width:35px;
	height: 400px;
	color:#fff;
	font-size:16px;
	position:absolute;
	top:0px;
	right:18px;
}

.rangeText  
{
	width:35px;
	position:absolute;
	text-align:right;
}

#rangeSliderDiv{
	position:absolute;
	top:120px;
	left:570px;
}

#depth{
	position:absolute;
	top:20px;
	left:5px;
	color:#fff;
	font-size:70px;
	font-weight: bold;
	text-align:left;
	width:500px;
	}
	#depthType{
	position:absolute;
	top:5px;
	left:5px;
	color:#fff;
	font-size:15px;
	font-weight: bold;
	text-align:left;
	width:250px;
	}
	
#sliderChoice{
	position:absolute;
	top:280px;
	left:90px;
	color:#fff;
	font-size:16px;
	width:400px;
	height:85px;
	background: #444; /*url(images/backHSlid.png);*/
	background-repeat:repeat-x;
	}
	
	#alarmSlidDiv{
	position:absolute;
	top:220px;
	left:90px;
	color:#fff;
	font-size:16px;
	width:400px;
	height:170px;
	
	background-repeat:repeat-x;
	}
	#alarmSlidDiv_1{
	height:50%;
	background: url(images/backMsgWindow_H_130px.png);
	}
	#alarmSlidDiv_2{
	height:50%;
	background: url(images/backMsgWindow_H_130px.png);
	}
	
#alarmMsgDiv{
	position:absolute;
	top:100px;
	left:90px;
	color:#f00;
	font-size:26px;
	width:400px;
	height:70px;
	line-height:70px;
	background-repeat:repeat-x;
	text-align:center;
}
	
	#alarmLowDiv{
		position:absolute;
		left:0px;
		width:16px;
		height:9px;
		background: url(images/AlarmLow.png);
	}
	
	#alarmHighDiv{
		position:absolute;
		left:0px;
		width:16px;
		height:9px;
		background: url(images/AlarmHigh.png);
	}
	
	
	/* DAY/NIGHT - BRITHNES */
	#day_night{
	position:absolute;
	top:50px;
	left:90px;

	font-size:16px;
	width:400px;
	height:260px;
	background: url(images/backHSlid.png);
	background-repeat:repeat-x;
	display:block;
	}
	
	#lightSliderDiv{
	position:relative;
	/*position:absolute;
	top:280px;
	left:90px;
	color:#fff;*/
	font-size:16px;
	width:400px;
	height:70px;
	background: url(images/backHSlid.png);
	background-repeat:repeat-x;
	float:left;
	
	}
	
	#lightPresetDiv{
	position:relative;
	font-size:16px;
	/*width:400px; 
	height:80px;*/
	background: url(images/backHSlid.png);
	background-repeat:repeat-x;
	float:left;
	color:#bbbbbb;
	}
	
	#lightDay_NightDiv{
	position:relative;
	width:400px;
	height:80px;
	background: url(images/backHSlid.png);
	background-repeat:repeat-x;
	float:left;
	color:#bbbbbb;
	}
	
	#setupPanel{
	position:absolute;
	left:0px;
	top:0px;
	background:#deecf2;
	height:90%;
	width:100%;
	}
	
	#ScreenHardware{
	position:absolute;
	left:0px;
	top:50px;
	background:#deecf2;
	height:310px;
	width:480px;
	}
	
	.Screen{
	position:absolute;
	left:0px;
	top:50px;
	background:#deecf2;
	height:310px;
	width:480px;
	}
	
	
	#nmeaPanel{
	position:absolute;
	left:0px;
	top:0px;
	background:#deecf2;
	height:90%;
	width:100%;
	}
	.mainTableHeader{
	background:#333;
	text-align:center;
	width:100%;
	font-size:16;
	color:#fff;
	float:left;
	}
	.screenGroupe{
	margin-top:5px;
	background:#efefef;
	float:left;
	position: relative;
	color:#000;
	border:2px ridge #C90;
	}
	.nmeaHeaderText{
	background:#cdd6da;
	text-align:center;
	width:100%;
	font-size:12;
	}
	
	#nmeaListDiv {
    border: 2px ridge #CC9900;
    height: 230px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    width: 100%;
	}
	#diplayForm{
	position:absolute;
	right:5px;
	top:5px;
	background:#fff;
	border:2px ridge #C90;
	width:200px;
	/*border:1px solid #646464;*/
	}
	
	
	#nmeaList{
	overflow-y:hidden;
	width:300px;
	}
	
	#nmeaOutputs{
	position:absolute;
	left:5px;
	top:5px;
	background:#fff;
	border:2px ridge #C90;
	/*border:1px solid #646464;*/
	}
	/*
	#nmeaOutputsSetup{
	position:absolute;
	left:5px;
	top:55px;
	background:#fff;
	border:2px ridge #C90;
	}
	*/
	#comBaud{
	position:absolute;
	left:5px;
	top:100px;
	background:#fff;
	border:2px ridge #C90;
	/*border:1px solid #646464;*/
	}
	
	.tableTest{
	display:block;
	height:20px;
	width: 495px;
	border:2px ridge #C90;
	}
	
	.topField{
		color:#333;
		font-size:14px;
	 	/*height:21px;*/
	 	background-image:url("images/backTopFelt.png");
	 	background-repeat:repeat-x;/*no-repeat;*/
/*background-attachment:fixed;*/
	/*	background-position:right; */
		position:relative;
		float:left;
	}
	.topFieldTextLeft{
		float:left;
		padding-left:4px;
		margin-right:5px;
		color:#666;
	}
	.topFieldTextLeft2{
		float:left;
		padding-left:4px;
		margin-right:5px;
		color:#000;
	}
	.topFieldTextRight{
		float:right;
		padding-right:4px;
	}
	.topFieldDown{
		color:#000;
	 	height:30px;
	 	background-image:url("images/backTopDown.png");
		background-repeat:repeat-x;
		position:absolute;
		top:10px;
		left:0px; 
		line-height:30px;
		width:100%;
		text-align:center;
	}
	
	.topFieldDownLine1{
	color:#000;
	 	height:15px;
	 	background-image:url("images/backTopDown.png");
		background-repeat:repeat-x;
		position:absolute;
		top:10px;
		left:0px; 
		line-height:15px;
		width:100%;
		text-align:center;
	}
	.topFieldDownLine2{
	color:#000;
	 	height:15px;
	 	background-image:url("images/backTopDown.png");
		background-repeat:repeat-x;
		position:absolute;
		top:25px;
		left:0px; 
		line-height:15px;
		width:100%;
		text-align:center;
	}
	#alarmStateDiv{
		color:#333;
		font-size:14px;
		font-weight: bold;
	}

	#time{
	/*font-size:18px;*/
	}
	#gps{;
	/*font-size:12px;*/
	}
	#speed{
	/*font-size:12px;*/
	}
	#frq{
	/*font-size:12px;*/
	}
	
	/* STATUS */
	#statusDiv{
	font-size:12px;
	position:absolute;
	left:5px;
	top:5px;
	background:#fff;
	border:2px ridge #C90;
	}
	.sr1 { /* status row 1 */
		width:90px;
	}
	.sr2 { /* status row 2 */
		width:90px;
		color:#f00;
	}
	.sr3 { /* status row 3 */
		width:90px;
	}
	.sr4 { /* status row 4 */
		width:90px;
		color:#f00;
	}
	
	
	
	
